<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Admin Panel</title>
</head>
<body onload="fillRoles(); fillHeader(); fillAdminTable(); fillUserTable(); ">
  <div class="mw-100" style="max-height: 100%">
    <div class="container" style="background-color: #343a40; color: white; max-width: 100%" >
      <div class="row mx-auto" style="height: 30px">
        <div class="col-11 mx-auto" id="header">
        </div>
        <div class="col-1 mx-auto">
          <form th:method="POST" th:action="@{/logout}">
            <button class="btn-link border-0"  type="submit" style="color: darkgray; font-size: x-small;">Logout</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container" style="max-width: 100%; max-height: 100%">
      <div class="row">
        <div class="col-2" style="background-color: #ffffff; height: 100vh">
          <div class="row my-3">
            <ul class="nav nav-pills flex-column" id="myTab" style="width: 100%" aria-orientation="vertical">
              <li class="nav-item active" >
                <a class="nav-link active " aria-current="page" href="#Admin" role="tab" data-toggle="tab">Admin</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#User" role="tab" data-toggle="tab">User</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-10" style="background-color: #f8f9fa; height: 100%">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="Admin">
              <div class="container" style="background-color: #f8f9fa; height: 100vh">
                <div class="row align-items-center" style="height: 70px">
                  <div class="h3">Admin panel</div>
                </div>
                <div class="row">
                  <ul class="nav nav-tabs border-bottom-0">
                    <li class="nav-item active">
                      <a class="nav-link active" aria-current="page" href="#table" role="tab" data-toggle="tab">Users table</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#newUser" role="tab" data-toggle="tab">New User</a>
                    </li>
                  </ul>
                </div>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane active" id="table">
                    <div class="row align-items-center border rounded-top" style="background-color: #f7f7f7; height: 50px;">
                      <div class="col">All users</div>
                    </div>
                    <div class="row border border-top-0 rounded-bottom " style="background-color: white; min-height: 300px">
                      <div class="col align-items-center my-3">
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                          </tr>
                          </thead>
                          <tbody id="adminTable">
                          </tbody>
                        </table>
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <form method="PATCH" action="@{/api/admin}" id="editUser">
                                <div class="modal-body col-6 mx-auto text-center">
                                  <div class="form-group justify-content-center" >
                                    <label for="id" class="col-form-label">ID</label>
                                    <input type="text" class="form-control" id="id" name="id" value="" readonly>

                                    <label for="editFirstname" class="col-form-label">First name</label>
                                    <input type="text" name="name"  class="form-control" id="editFirstname">

                                    <label for="editLastName" class="col-form-label">Last name</label>
                                    <input type="text" name="lastName"  class="form-control" id="editLastName">

                                    <label for="editAge" class="col-form-label">Age</label>
                                    <input type="number" name="age"  class="form-control" id="editAge">

                                    <label for="editEmail" class="col-form-label">Email</label>
                                    <input type="email" name="email" class="form-control" id="editEmail">

                                    <label for="editPassword" class="col-form-label">Password</label>
                                    <input type="password" name="password"  class="form-control" id="editPassword">
                                  </div>
                                  <div class="form-group justify-content-center" id="editSelect">
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <input class="btn btn-primary" type="submit" value="Edit">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete user</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <form method="DELETE" action="" id="deleteForm">
                                <div class="col-6 modal-body mx-auto text-center">
                                  <div class="form-group" id="deleteFormGroup">
                                    <label for="idDelete" class="col-form-label">ID</label>
                                    <input type="text" class="form-control" id="idDelete" name="id" value="" readonly>

                                    <label for="deleteFirstname" class="col-form-label">First name</label>
                                    <input type="text" value="" class="form-control" id="deleteFirstname" readonly>

                                    <label for="deleteLastName" class="col-form-label">Last name</label>
                                    <input type="text" value="" class="form-control" id="deleteLastName" readonly>

                                    <label for="deleteAge" class="col-form-label">Age</label>
                                    <input type="number" value="" class="form-control" id="deleteAge" readonly>

                                    <label for="deleteEmail" class="col-form-label">Email</label>
                                    <input type="email" value="" class="form-control" id="deleteEmail" readonly>

                                  </div>
                                  <div class="form-group justify-content-center" id="deleteSelect">
                                  </div>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <input class="btn btn-primary" type="submit" value="Delete">
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="newUser">
                    <div class="row align-items-center border rounded-top" style="background-color: #f7f7f7; height: 50px;">
                      <div class="col">Add new user</div>
                    </div>
                    <div class="row border border-top-0 rounded-bottom " style="background-color: white; min-height: 300px">
                      <div class="col-4 modal-body mx-auto text-center">
                        <form method="POST" action="/api/admin" id="newUserForm">
                          <div class="form-group font-weight-bold" id="userFormGroup">
                            <label for="firstname" class="col-form-label">First name</label>
                            <input type="text" name="name" class="form-control" id="firstname">

                            <label for="lastName" class="col-form-label">Last name</label>
                            <input type="text" name="lastName" class="form-control" id="lastName">

                            <label for="age" class="col-form-label">Age</label>
                            <input type="number" name="age" class="form-control" id="age">

                            <label for="email" class="col-form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email">

                            <label for="password" class="col-form-label">Password</label>
                            <input type="password" name="password" class="form-control" id="password">

                          </div>
                          <input class="btn btn-primary btn-success" type="submit" value="Add new user">
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="User">
              <div class="container" style="background-color: #f8f9fa; height: 100vh">
                <div class="row align-items-center" style="height: 70px">
                  <div class="h3">User information panel</div>
                </div>
                    <div class="row align-items-center border rounded-top" style="background-color: #f7f7f7; height: 50px;">
                      <div class="col">About user</div>
                    </div>
                    <div class="row border border-top-0 rounded-bottom " style="background-color: white; min-height: 300px">
                      <div class="col align-items-center my-3">
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr id="userTable">
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <script src="/js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>