<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
</head>
  <body>
    <form th:method="POST" th:action="@{/logout}" th:align="left">
      <input type="submit" value="Logout"/>
    </form>
    <h1 th:align="middle">Create User</h1>
    <form th:method="POST" th:action="@{/admin/}" th:object="${user}" th:align="middle">
      <label for="name">Name:</label>
      <input th:type="text" th:field="*{name}" id="name"/>
      <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{name}">name</div>
      <br>
      <label for="lastName">LastName:</label>
      <input th:type="text" th:field="*{lastName}" id="lastName"/>
      <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{lastName}">lastName</div>
      <br>
      <label for="age">Age:</label>
      <input th:type="number" th:field="*{age}" id="age"/>
      <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{age}">age</div>
      <br>
      <label for="email">Email:</label>
      <input th:type="text" th:field="*{email}" id="email"/>
      <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{email}">name</div>
      <br>
      <label for="password">Password:</label>
      <input type="password" th:field="*{password}" id="password"/>
      <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{password}">lastName</div>
      <br>
      <label for="roles">Roles:</label>
      <select name="roles[]" th:multiple="multiple" th:size="3" th:field="*{role}" id="roles">
        <option th:each="role : ${roles}" th:value="${role.getId()}" th:text="${role.getValue()}"/>
      </select>
      <br>
      <input type="submit" value="Create!">
    </form>
  </body>
</html>